<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.ssm.mapper.BanjiMapper">
 	<resultMap type="Banji" id="banjiMap">
 		<id property="id" column="banjiId"/>
 		<result property="name" column="banjiName"/>
 		<!-- collection:将关联查询出的学生信息映射到集合中 -->
 		<collection property="list" ofType="Student">
 			<id property="id" column="id"/>
 			<result property="name" column="name"/>
 			<result property="gender" column="gendere"/>
 			<result property="address" column="address"/>
 		</collection>
 	</resultMap>
 	<select id="findBanjiInfoById" parameterType="int" resultMap="banjiMap">
 		SELECT b.id AS banjiId, b.NAME AS banjiName,
 		s.id,s.NAME,s.gender,s.address 
 		FROM banji AS b INNER JOIN student AS s ON 
 		b.id=s.banji_id WHERE b.id=#{id};
 	</select>
 	<select id="findAll" resultType="Banji">
 		select id,name from banji
 	</select>
 </mapper>